extends ../layout/common.pug

block append scripts
  script(src="/js/bundle.js")

  script.
    /*content should be base64 in case there is a <> in script*/
    var model = !{JSON.stringify(model)};
    
  script.
    var ide = new Breadboard.default();

    $(function() {
      ide.render($('.ide')[0], {
          host          : !{JSON.stringify(parsed.host) || 'undefined'}
        , owner         : !{JSON.stringify(parsed.owner) || 'undefined'}
        , repo          : !{JSON.stringify(parsed.repository) || 'undefined'}
        , branch        : model.branch
        , breadboard    : !{JSON.stringify(breadboard) || 'undefined'}
        , platform      : !{JSON.stringify(parsed.platform) || 'undefined'}
        , token         : !{JSON.stringify(token) || 'undefined'}
        , http_method   : "GET"
        , tailf         : !{JSON.stringify(tailf) || 'undefined'}
        //- , http_body     : JSON.stringify({})
        , blob          : model.content
        //- todo [akamel] point to the correct breadboard server
      });
    });
    
block append content    
  //- .container
  //-   pre= JSON.stringify(model, null, 2)
  //-   pre= JSON.stringify(parsed, null, 2)
  .container
    nav(aria-label="breadcrumb", role="navigation")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item= parsed.owner
        li.breadcrumb-item.active(aria-current="page")
          a(href="/" + parsed.host + "/" + parsed.owner + "/" + parsed.repository)= parsed.repository
  .container
    nav.navbar(aria-label="breadcrumb", role="navigation")
      span
        button.btn.btn-light(type="button")= parsed.branch
        button.btn.btn-link(type="button", href="/" + parsed.host + "/" + parsed.owner + "/" + parsed.repository)= parsed.repository
        button.btn.btn-link(type="button", disabled="")= "/" + parsed.filename
      span
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="#")= sha_label
  .ide
