extends ../layout/common.pug

block append scripts
  script(src="/js/bundle.js")

  script.
    /*content should be base64 in case there is a <> in script*/
    var model = !{JSON.stringify(model)};
    
  script.
    var ide = new Breadboard.default();

    $(function() {
      ide.render($('.ide')[0], {
          host          : !{JSON.stringify(parsed.host) || 'undefined'}
        , owner         : !{JSON.stringify(parsed.owner) || 'undefined'}
        , repo          : !{JSON.stringify(parsed.repository) || 'undefined'}
        , branch        : model.branch
        , breadboard    : !{JSON.stringify(breadboard) || 'undefined'}
        , platform      : !{JSON.stringify(parsed.platform) || 'undefined'}
        , token         : !{JSON.stringify(token) || 'undefined'}
        , http_method   : "GET"
        , tailf         : !{JSON.stringify(tailf) || 'undefined'}
        //- , http_body     : JSON.stringify({})
        , blob          : model.content
        //- todo [akamel] point to the correct breadboard server
      });
    });
    
block append content
  .container
    nav(aria-label="breadcrumb", role="navigation")
      ol.breadcrumb
        li.breadcrumb-item Playground
  .ide
